body {
    background-color: var(--branco);
}

.adm-container {
    height: 100vh;
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    background: center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Poppins', sans-serif;
}

.adm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-top: 3rem;
    width: 100%;
}

.adm-title {
    justify-content: center;
    flex-wrap: nowrap !important;
    align-items: center;
}

.adm-title .ent{
    margin-left: 20rem;
    
}
.adm-title h1 {
    font-family: var(--quatro);
    font-size: 50px;
    font-weight: 400;
    position: relative;
}

.adm-title h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 40%;
    height: 4px;
    border-bottom: 4px solid var(--roxo);
    background-color: var(--roxo);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.adm-title h1:hover::after {
    width: 65%;
}

/* botao */
.adm-title .ent,
.filtro-btn .ent {
    display: inline-block;
    background-color: var(--roxo);
    border-radius: 20px;
    padding: 10px 70px;
    text-decoration: none;
    font-weight: bold;
    color: #fbfbff;
    font-size: 20px;
    box-shadow: 3px 8px 22px var(--roxo);
    transition: .5s;
    border: 1px solid var(--roxo);

}

.adm-title .ent:hover,
.filtro-btn .ent:hover {
    scale: 1.04;
    background-color: #fbfbff;
    color: var(--roxo);
    box-shadow: 3px 8px 22px #2525257b;
    border: 1px solid var(--roxo);
    
}

.adm-filtro {
    width: 100%;
}

.filtro-title {
    text-align: start;
    padding-left: 3rem;
    font-size: 20px;
}

.filtro-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

/* image */
.adm-img {
    position: fixed;
    bottom: 0;
    right: -30px;
}

.adm-element {
    width: 30rem;
    transition: .5s ease-in-out;
}

.adm-element:hover {
    transform: scale(1.05);
}

/* tabela */
/* tabela */

::-webkit-scrollbar {
    scroll-padding-top: 0px !important;
  }
.adm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabela-gera {
        max-height: 500px;
        overflow-y: auto;
        width: 60% !important;
   
}

.adm-content .table {
    max-height: 100px !important;
    width: 100% !important;
    border-radius: 20px !important;
    overflow: scroll !important;
}

/* CSS atualizado para o cabeçalho da tabela (thead) */
.adm-content .table thead {
    color: var(--branco);
    background-color: var(--roxo) !important;
}
/* CSS atualizado para o cabeçalho da tabela (tbody) */
.adm-content .table tbody {
    
}
/* Opcional: Alterar a cor do texto no cabeçalho da tabela */
.adm-content .table thead th {
    height: 10px !important;
    color: var(--branco);
}

/* Resto do seu código CSS existente */
.edit {
    text-align: center;
}

.table td a i {
    color: var(--cinza);
    font-size: 20px;
}

input{
    border-color: var(--roxo) !important;
}