body {
    background-color: var(--branco);
}

.adm-container {
    height: 100vh;
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    background: center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Poppins', sans-serif;
}

.adm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-top: 3rem;
    width: 100%;
}

.adm-title {
    justify-content: center;
    flex-wrap: nowrap !important;
    align-items: center;
}


.adm-title h1 {
    font-family: var(--quatro);
    font-size: 50px;
    font-weight: 400;
    position: relative;
}

.adm-title h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 40%;
    height: 4px;
    background-image: linear-gradient(to right, var(--roxo) 0%, var(--azul) 51%, var(--roxo) 100%);
    background-size: 200% auto;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.adm-title h1:hover::after {
    width: 65%;
    background-position: right center !important;
}

/* select */

select {
    appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    width: 200px;
    border-radius: 10px;
    /* ajuste conforme necessário */
}

/* Ícone personalizado para indicar a seta para baixo */
select::after {
    content: '\2193';
    /* código Unicode para a seta para baixo */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Estilo quando o select está focado */
select:focus {
    outline: none;
    border-color: #66afe9;
    /* cor de destaque ao focar */
}

/* Estilo para as opções do select */
option {
    background-color: #fff;
    color: #333;
}

/* fim do select */


/* botao */
.adm-title .ent,
.filtro-btn .ent {
    display: inline-block;
    background-color: var(--roxo);
    border-radius: 20px;
    padding: 10px 70px;
    text-decoration: none;
    font-weight: bold;
    color: #fbfbff;
    font-size: 20px;
    box-shadow: 3px 8px 22px var(--roxo);
    transition: .5s;
    border: 1px solid var(--roxo);
    margin: 1rem;

}

.adm-title .ent:hover,
.filtro-btn .ent:hover {
    scale: 1.04;
    background-color: #fbfbff;
    color: var(--roxo);
    box-shadow: 3px 8px 22px #2525257b;
    border: 1px solid var(--roxo);

}

.adm-filtro {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.adm-filtro .select-btn,
.adm-filtro .list-itens {
    width: 220px !important;
}

.adm-filtro .list-itens {
    background-color: #fbfbff;
    position: absolute;
    width: 220px;
    z-index: 2;
    height: 300px;
}

.filtro-title {
    text-align: start;
    padding-left: 3rem;
    font-size: 20px;
}

.filtro-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

/* image */
.adm-img {
    position: fixed;
    bottom: 0;
    right: -30px;
    z-index: -1;
}

.adm-element {
    width: 30rem;
    transition: .5s ease-in-out;
}

.adm-element:hover {
    transform: scale(1.05);
}

/* tabela */
/* tabela */

::-webkit-scrollbar {
    scroll-padding-top: 0px !important;
}

.adm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tabela-gera {
    max-height: 500px;
    overflow-y: auto;
    width: 60% !important;

}

.adm-content .table {
    max-height: 100px !important;
    width: 100% !important;
    border-radius: 20px !important;
    overflow: scroll !important;
}

/* CSS atualizado para o cabeçalho da tabela (thead) */
.adm-content .table thead {
    color: var(--branco);
    background-color: var(--roxo) !important;
}

/* CSS atualizado para o cabeçalho da tabela (tbody) */
.adm-content .table tbody {}

/* Opcional: Alterar a cor do texto no cabeçalho da tabela */
.adm-content .table thead th {
    height: 10px !important;
    color: var(--branco);
}

/* Resto do seu código CSS existente */
.edit {
    text-align: center;
}

.table td a i {
    color: var(--cinza);
    font-size: 20px;
}

input {
    border-color: var(--roxo) !important;
}



/* menu */



/* responsividade */
@media screen and (max-width: 480px) {


    .adm-title {
        flex-direction: column;

    }

    .revealbtn {
        margin-left: 1rem !important;
    }

    .revealbtn .ent {
        padding: 10px 40px;
        font-size: 13px;
    }

    .adm-title h1 {
        font-size: 40px;
        padding-left: 2rem;
    }

    .adm-content .mt-5 {
        margin-top: 0rem !important;
    }

    .filtro-title {
        padding-left: 2rem;
        font-size: 15px;
    }

    .filtro-btn {
        flex-wrap: wrap;
        flex-direction: row !important;
        margin-left: 2rem;
    }

    .filtro-btn .ent {
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 10px;
        box-shadow: 3px 8px 22px var(--roxo);
        margin: 0rem;

    }

    .filtro-btn .revealbtn {
        margin-bottom: 1rem !important;
        margin-left: 0rem !important;

    }

    .adm-img {
        display: none;
    }

    .tabela-gera {
        margin-left: 3rem;
        max-height: 500px;
        overflow-y: auto;
        width: 95% !important;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    ul li.item-menu a {
        padding: 20px 34px !important;
    }

    ul li.item-menu::after {
        margin-left: 34px !important;

    }

    ul li.ativo::before {
        margin-left: 34px !important;
    }


}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    ul li.item-menu a {
        padding: 20px 34px !important;
    }

    ul li.item-menu::after {
        margin-left: 34px !important;

    }

    ul li.ativo::before {
        margin-left: 34px !important;
    }
}


@media screen and (max-width: 1600px) {


    .revealbtn {
        margin-left: 1rem !important;
    }

    .revealbtn .ent {
        padding: 10px 40px;
        font-size: 13px;
    }

    .adm-title h1 {
        font-size: 40px;
        padding-left: 2rem;
    }

    .adm-content .mt-5 {
        margin-top: 0rem !important;
    }

    .filtro-title {
        padding-left: 2rem;
        font-size: 15px;
    }

    .filtro-btn {
        flex-wrap: wrap;
        flex-direction: row !important;
        margin-left: 2rem;
    }

    .filtro-btn .ent {
        border-radius: 20px;
        padding: 10px 30px;
        font-size: 13px;
        box-shadow: 3px 8px 22px var(--roxo);
        margin: 0rem;

    }

    .filtro-btn .revealbtn {
        margin-bottom: 1rem !important;
        margin-left: 0rem !important;

    }



    .adm-element {
        width: 20rem;
        z-index: 1;
    }

    .adm-img {
        right: -6%;
    }

    .tabela-gera {
        z-index: 1;
        margin-left: 3rem;
        max-height: 500px;
        overflow-y: auto;
        width: 75% !important;
    }

    ul li.item-menu a {
        padding: 20px 34px !important;
    }

    ul li.item-menu::after {
        margin-left: 34px !important;

    }

    ul li.ativo::before {
        margin-left: 34px !important;
    }
}