body {
    background-color: var(--branco);
}

.apm-container {
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    background: url('../img/doisfatores.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.apm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-top: 3rem;
    height: 100vh;
}

.apm-card button {
    border: none !important;
}

.apm-title h1 {
    font-family: var(--quatro);
    font-size: 80px;
    font-weight: 400;
    position: relative;
}

.apm-title h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 5%;
    height: 4px;
    border-bottom: 4px solid var(--azul);
    background-color: var(--roxo);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.apm-title h1:hover::after {
    width: 10%;
}

.apm-title p {
    font-family: var(--merri);
    font-size: 20px;
}

.apm-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    flex-wrap: wrap !important;
}

.apm-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.apm-card {
    background-color: var(--roxo);
    border-radius: 10px;
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    color: var(--branco);
    margin-bottom: 2rem;
    margin-left: 3rem;
    box-shadow: 1px 8px 20px 0px #000;
    transition: 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

/* pop up */

body .alert {
    background: #FFE1E3;
    border-left: 8px solid #FF4356;
    position: relative;
    visibility: none;
    animation-delay: .5s;
    animation: shake 1s ease forwards;
}

.alert .bi-exclamation-circle,
.alert .bi-check-lg,
.alert .bi-search {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #FF455A;
    font-size: 30px !important;
}

body .alert .msg {
    font-size: 20px;
    padding: 0 40px;
    color: #DC7777;
}

body .alert .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF99A4;
    padding: 9px 16px;
    cursor: pointer;
}

body .alert .close-btn:hover {
    background-color: #FC4B55;
}


body .alert .bi-x-lg {
    color: #FF455A;
    font-size: 22px;
    line-height: 40px;
}

.hide {
    display: none;
}


/*@keyframes error {
    0% {
      transform: translateX(-5%);
    }
  
  
    40%{
      transform: translateX(5%);
    }
  
    80% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0%);
    }
  
  }
  */

@keyframes shake {
    0% {
        transform: translate(1px, 1px);
    }

    10% {
        transform: translate(-1px, -2px);
    }

    20% {
        transform: translate(-3px, 0px);
    }

    30% {
        transform: translate(3px, 2px);
    }

    40% {
        transform: translate(1px, -1px);
    }

    50% {
        transform: translate(-1px, 2px);
    }

    60% {
        transform: translate(-3px, 1px);
    }

    70% {
        transform: translate(3px, 1px);
    }

    80% {
        transform: translate(-1px, -1px);
    }

    90% {
        transform: translate(1px, 2px);
    }

    100% {
        transform: translate(1px, -2px);
    }
}

/* fim do pop up */


/* EDIT CARD APM */


.apm-card:hover {
    /* Adicione um fundo opaco */
    background-color: var(--azul);
    box-shadow: 1px 8px 30px 0px #000;
}

/* Ícone de lápis */
.edit-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    display: none;
    /* Escondido por padrão */
    z-index: 1;
    /* Para estar acima da imagem */
}

.apm-card:hover .edit-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}

.apm-card .bi-pencil-square {
    color: var(--branco);
    font-size: 23px;
}

/* Ícone de lixeira */
.delete-icon {
    border-radius: 100%;
    padding: 10px 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--cinza);
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.apm-card:hover .delete-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}

/* FIM EDIT CARD APM */

.apm-card:hover {
    transform: scale(1.05);
}

.card-text {
    text-align: start;
    padding: 5%;
}

.apm-group .card-img {
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}



.apm-group .card-img,
.card-info {
    width: 280px;
}

.apm-card .card-title {
    font-weight: bold;
    font-size: 1.1em;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--pop);
    justify-content: space-between;
}

.price .btn {
    color: #000;
    margin-right: 10px;
    background-color: var(--branco) !important;
}

.price .btn:hover {
    color: #000 !important;
}


/* modal exclusao */

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn,
.modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
}

.modal-confirm .btn-secondary {
    background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover,
.modal-confirm .btn-secondary:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* fim do modal exclusao */


@media screen and (max-width: 480px) {
    .apm-title p {
        font-family: var(--merri);
        font-size: 14px;
        text-align: justify;
        margin-left: 2rem;
    }

    .apm-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0 !important;
    }


    .apm-card {
        box-shadow: none !important;
        border: 1px solid #000;
    }

    .apm-card img {
        border-radius: 10px !important;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {



    .apm-card {
        box-shadow: none !important;
        border: 1px solid #000;
    }

    .apm-card img {

        border-radius: 10px !important;
    }


    .apm-card-container {
        margin-right: 6rem !important;
    }


}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .apm-title p {
        font-family: var(--merri);
        font-size: 18px;
        text-align: justify;
        margin-left: 3rem;
    }



    .apm-card {
        box-shadow: none !important;
        border: 1px solid #000;
    }

    .apm-card img {

        border-radius: 10px !important;
    }





    .apm-card-container {
        margin-right: 6rem !important;
    }
}