body {
    background-color: var(--branco);
}

.apm-container {
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    background: url('../img/doisfatores.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.apm {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-top: 3rem;
}

.apm-title h1 {
    font-family: var(--quatro);
    font-size: 80px;
    font-weight: 400;
    position: relative;
}

.apm-title h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 5%;
    height: 4px;
    border-bottom: 4px solid var(--azul);
    background-color: var(--roxo);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.apm-title h1:hover::after {
    width: 10%;
}

.apm-title p {
    font-family: var(--merri);
    font-size: 20px;
}

.apm-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;

}

.apm-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.apm-card {
    background-color: var(--roxo);
    border-radius: 10px;
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    color: var(--branco);
    margin-bottom: 2rem;
    margin-left: 3rem;
    box-shadow: 1px 8px 20px 0px #000;
    transition: 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}


/* EDIT CARD APM */


.apm-card:hover {
    /* Adicione um fundo opaco */
    background-color: var(--azul);
    box-shadow: 1px 8px 30px 0px #000;
}

/* Ícone de lápis */
.edit-icon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    display: none;
    /* Escondido por padrão */
    z-index: 1;
    /* Para estar acima da imagem */
}

.apm-card:hover .edit-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}

.apm-card .bi-pencil-square {
    color: var(--branco);
    font-size: 23px;
}

/* Ícone de lixeira */
.delete-icon {
    border-radius: 100%;
    padding: 10px 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--cinza);
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 1;
}
.apm-card:hover .delete-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}

/* FIM EDIT CARD APM */

.apm-card:hover {
    transform: scale(1.05);
}

.card-text {
    text-align: start;
    padding: 5%;
}

.apm-group .card-img {
    margin-top: 5px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}



.apm-group .card-img,
.card-info {
    width: 280px;
}

.apm-card .card-title {
    font-weight: bold;
    font-size: 1.1em;
}

.card-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--pop);
}

.price .btn {
    color: #000;
    margin-right: 10px;
    background-color: var(--branco) !important;
}

.price .btn:hover {
    color: #000 !important;
}

/* carousel */
.carousel {
    display: none;
}


@media screen and (max-width: 480px) {
    .apm-title p {
        font-family: var(--merri);
        font-size: 14px;
        text-align: justify;
        margin-left: 2rem;
    }

    .apm-card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0 !important;
    }

    .carousel {
        display: flex;
    }

    .carousel-inner {
        overflow: visible !important;
    }

    .apm-group {
        display: none;
    }

    .apm-card {
        box-shadow: none !important;
        border: 1px solid #000;
    }

    .apm-card img {

        border-radius: 10px !important;
    }

    .apm-card:hover {
        transform: none;
    }

    .carousel i {
        color: var(--roxo);
        font-size: 30px;
    }


    .carousel .bi-caret-left {
        margin-right: -.5rem;
    }

    .carousel .bi-caret-right {
        margin-left: 5.4rem;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .carousel {
        display: flex;
    }


    .apm-group {
        display: none;
    }

    .apm-card {
        box-shadow: none !important;
        border: 1px solid #000;
    }

    .apm-card img {

        border-radius: 10px !important;
    }

    .apm-card:hover {
        transform: none;
    }

    .carousel i {
        color: var(--roxo);
        font-size: 30px;
    }


    .carousel .bi-caret-left {
        margin-right: -.5rem;
    }

    .carousel .bi-caret-right {
        margin-left: 5.4rem;
    }

    .apm-card-container {
        margin-right: 6rem !important;
    }


}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .apm-title p {
        font-family: var(--merri);
        font-size: 18px;
        text-align: justify;
        margin-left: 3rem;
    }

    .carousel {
        display: flex;
    }


    .apm-group {
        display: none;
    }

    .apm-card {
        box-shadow: none !important;
        border: 1px solid #000;
    }

    .apm-card img {

        border-radius: 10px !important;
    }

    .apm-card:hover {
        transform: none;
    }

    .carousel i {
        color: var(--roxo);
        font-size: 40px;
    }


    .carousel .bi-caret-left {
        margin-right: 1rem;
    }

    .carousel .bi-caret-right {
        margin-left: 6.4rem;
    }

    .apm-card-container {
        margin-right: 6rem !important;
    }
}