.cadastro {
    height: 100vh;
    width: 100%;
    background-image: url('../img/login.png');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: 'Poppins', sans-serif;

}

.cadastro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cadastro-container h1 {
    font-size: 70px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    transition: .5s ease-in-out;
    font-family: var(--quatro);

}

/* botao */
.cadastro-content .ent {
    display: inline-block;
    background-color: var(--roxo);
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    color: #fbfbff;
    box-shadow: 3px 8px 22px var(--roxo);
    transition: .5s;
}

.cadastro-content .ent:hover {
    scale: 1.04;
    background-color: #fbfbff;
    color: var(--roxo);
    box-shadow: 3px 8px 22px #2525257b;
    border: 1px solid var(--roxo);

}

.cadastro-content {
    width: 30%;
}

.revealbtn {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.revealbtn .create {
    color: var(--roxo);
    text-decoration: none;
    margin-top: 2rem;
}

.cadastro-img2 {
    position: absolute;
    left: 30px;
    bottom: 300px;
    overflow: hidden;
}

.cadastro-element2 {
    width: 25rem;
    transition: 1s;
}

.cadastro-img {
    overflow: hidden;
    position: absolute;
    right: -20px;
    bottom: 0;
}

.cadastro-element {
    width: 30rem;
    transition: 1s;
}

.cadastro-element:hover,
.cadastro-element2:hover {
    scale: 1.05;
    cursor: pointer;
}

/* inputs */
.form-group,
.input-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 1rem;
    font-size: 20px;
}

.form-control {
    border-radius: 0 !important;
    BORDER: none !important;
    border-bottom: 2px solid #252525 !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: var(--roxo) !important;
    /* Adicione a cor desejada para a borda ao remover o foco */
    outline: none !important;
    /* Remova também o contorno do teclado para melhorar a acessibilidade */
}

.form-group .custom-spacing {
    margin-bottom: 20px;
    margin-top: 2rem;
}

.input-group {
    position: relative;
}

#togglePassword {
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cadastro-container i {
    color: var(--roxo);
}