.cadastro {
    height: 100vh;
    width: 100%;
    background-image: url('../img/login.png');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.cadastro-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cadastro-container h1 {
    font-size: 55px;
    font-weight: bold;
    color: #000;
    line-height: 1;
    transition: .5s ease-in-out;
    font-family: var(--quatro);
    position: relative;
}

.titulo .h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 50%;
    height: 4px;
    border-bottom: 4px solid var(--azul);
    background-color: var(--roxo);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.titulo .h1:hover::after {
    width: 100%;
}

/* botao */
.cadastro-content .ent {
    display: inline-block;
    background-color: var(--roxo);
    border-radius: 20px;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: bold;
    color: #fbfbff;
    box-shadow: 3px 8px 22px var(--roxo);
    transition: .5s;
    border: 1px solid var(--roxo);
    cursor: pointer;
}

.cadastro-content .ent:hover {
    scale: 1.04;
    background-color: #fbfbff;
    color: var(--roxo);
    box-shadow: 3px 8px 22px #2525257b;

}

.cadastro-content {
    width: 30%;
}

.revealbtn {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.revealbtn .create {
    color: var(--roxo);
    text-decoration: none;
    margin-top: 2rem;
}

.cadastro-img2 {
    position: absolute;
    left: 30px;
    bottom: 300px;
    overflow: hidden;
}

.cadastro-element2 {
    width: 20rem;
    transition: 1s;
}

.cadastro-img {
    overflow: hidden;
    position: absolute;
    right: -20px;
    bottom: 0;
}

.cadastro-element {
    width: 20rem;
    transition: 1s;
}

.cadastro-element:hover,
.cadastro-element2:hover {
    scale: 1.05;
    cursor: pointer;
}

/* inputs */
.form-group,
.input-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 1rem;
    font-size: 20px;
}

.form-control {
    border-radius: 0 !important;
    BORDER: none !important;
    border-bottom: 2px solid #252525 !important;
}

.form-control:focus,
.form-control:hover {
    box-shadow: none !important;
    border-color: var(--roxo) !important;
    /* Adicione a cor desejada para a borda ao remover o foco */
    outline: none !important;
    /* Remova também o contorno do teclado para melhorar a acessibilidade */
}

input:hover::placeholder {
    color: var(--roxo) !important;

}

.form-group .custom-spacing {
    margin-bottom: 20px;
    margin-top: 2rem;
}

.input-group {
    position: relative;
}

#togglePassword {
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cadastro-container i {
    color: var(--roxo);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

}

/* validação formulário */
.span-required {
    display: none;
    font-size: 12px;
    margin: 2px 0 0px 1px;
    color: #ff0000;
}

/* responsividade */
@media screen and (max-width: 480px) {

    .cadastro {
        background-position: 5%;
    }

    .cadastro-container h1 {
        margin-top: 65px;
        font-size: 65px;
    }

    .cadastro-img2 {

        display: none;
    }

    .cadastro-img {
        display: none;
    }

    .form-group {
        margin-top: 3rem;
        width: 100%;
    }

    .revealbtn {
        width: 100%;
        margin-top: 4rem;
    }

    .cadastro-content {
        width: 100%;
        margin-bottom: 60px;
    }

    .resp {
        display: none;
    }

    footer {
        margin-top: 0px;
    }

    .cadastro-content .ent {
        padding: 5px 25px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .cadastro {
        background-position: 5%;
    }

    .cadastro-img2 {
        top: 0;
        left: -2rem;
        overflow: visible;
    }

    .cadastro-element2 {
        width: 11rem !important;
    }

    .cadastro-element {
        width: 13rem !important;

    }

    .cadastro-img {
        bottom: 0;
        right: 0;
        overflow: visible;
    }


    .form-group {
        margin-top: 3rem;
    }

    .revealbtn {
        width: 100%;
        margin-top: 4rem;
    }

    .cadastro-content {
        width: 70%;
    }

    .resp {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    .cadastro {
        background-position: 5%;
    }

    .cadastro-img2 {
        top: 0;
        left: -2rem;
        overflow: visible;
    }

    .cadastro-element2 {
        width: 13rem !important;
    }

    .cadastro-element {
        width: 15rem !important;

    }

    .cadastro-img {
        bottom: 0;
        right: 0;
        overflow: visible;
    }


    .form-group {
        margin-top: 3rem;
    }

    .revealbtn {
        width: 100%;
        margin-top: 4rem;
    }

    .cadastro-content {
        width: 70%;
    }

    .resp {
        display: none;
    }


}

@media screen and (min-width: 1200px) and (max-width: 1370px) {
    .cadastro-container h1 {
        font-size: 65px;
        padding-top: 3rem;
    }

    .form-group label {
        margin-bottom: 1rem;
        font-size: 15px;
    }
}