body {
    background-color: var(--branco);
}


/* inicio do fundo */
.area {
    background: #ffffff;
    /* Define o fundo como branco */
    width: 100%;
    height: 100vh;
    position: relative;
    /* Adicione esta linha */
    font-family: var(--pop);

}

.circles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    /* Impede que os círculos interfiram com a interação do usuário */
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(79, 84, 248, 0.7);
    /* Cor roxa com transparência */
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 1;
    transition: .2s;
    /* Adicione esta linha */
    cursor: pointer;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* fim do fundo */

.calendario-container {
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    /* background: url('../img/doisfatores.png') center center no-repeat fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    z-index: 2;
    font-family: 'lato', sans-serif;
}


.data-evento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

.info-evento {
    display: flex;
    background: #b6b6fc;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    z-index: 999;
    align-content: center;
    color: var(--branco);
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
    transition: 0.2s ease-in-out;
}

.info-evento:hover {
    transform: scale(1.01);
}

h3 {
    margin-bottom: 0;
}

.info-custom {
    margin: 0 40px;
}

.info-buttons button i,
.info-buttons i {
    text-shadow: 1px 1px 1px #000;
    color: var(--branco);
    font-size: 20px;
    cursor: pointer;
    /* color: var(--cinza); */
}


@media screen and (max-width: 480px) {
    .info {
        left: 85%;
        margin: 0 0 0 -250px;
    }

    tr {
        font-size: .8em;
    }

    .calendario td {
        height: 50px;
        width: 50px;
    }

    .data-evento {
        width: 200PX;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1199px) {}

@media screen and (min-width: 1200px) {
    .calendario-title h1 {
        font-family: var(--quatro);
        font-size: 60px;
        font-weight: 400;
        position: relative;
    }

    .calendario-title p {
        font-family: var(--merri);
        font-size: 16px;
    }

}