body {
    background-color: var(--branco);
}

.calendario-container {
    width: 100%;
    /* background-size: cover;
    background-position: center; */
    background: url('../img/doisfatores.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: 'lato', sans-serif;
}

.calendario {
    text-align: center;
}

.info .calendario header {
    position: relative;
}

.info {
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
}

h2 {
    margin-top: 20px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold !important;
    
} 

h3{
    
    font-weight: bold !important;
    font-size: 1.17em !important;
}

.btn-ant,
.btn-pro {
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid var(--roxo);
    border-radius: 50%;
    color: var(--roxo);
    font-size: 16px;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    text-decoration: none;
}

.btn-ant {
    left: 80px;
}

.btn-pro {
    right: 80px;
}

.btn-ant:hover,
.btn-pro:hover {
    background-color: var(--roxo);
    color: var(--branco);
    cursor: pointer;
}

.calendario table {
    margin-top: 20px;
    border-collapse: collapse;
}

.calendario thead {
    font-weight: 600;
    text-transform: uppercase;
    background: var(--branco);
    background-color: var(--roxo);
    color: var(--branco);
    border: none;
}
.calendario thead td {
    height: 67.4px;
}
.calendario thead td:first-child {
    
    border-right: var(--roxo);
}

.calendario tbody{

    /* box-shadow: 0px 0px 5px 0px #000; */
}

.calendario td {
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendario tbody td {
    border: 1px solid #cbd1d2;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.calendario tbody td:hover {
    background: var(--roxo);
    color: #fbfbff;
    border: none;
}

.calendario table .dia-atual {
    background: var(--azul);
    color: #fbfbff;

}

.calendario .mes-anterior,
.calendario .proximo-mes {
    color: #cbd1d2;
}

.calendario .mes-anterior:hover,
.calendario .proximo-mes:hover {
    background-color: #98a0a0;
}

.calendario .event {
    position: relative;
}

.calendario .event::after {
    content: '';
    height: 5%;
    width: 50%;
    left: 32%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    display: block;
    background-color: #3f00df;
    position: absolute;
    border: 20px;
}

.calendario .event:hover::after {
    background-color: #fbfbff;
}

.event.dia-atual::after {
    background-color: #fbfbff;

}


@media screen and (max-width: 480px) {



}

@media screen and (min-width: 481px) and (max-width: 768px) {




}

@media screen and (min-width: 769px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px){
    .calendario-title h1 {
        font-family: var(--quatro);
        font-size: 60px;
        font-weight: 400;
        position: relative;
    }

    .calendario-title p {
        font-family: var(--merri);
        font-size: 16px;
    }
    
}