main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

    /* background: url('../img/doisfatores.png') center center no-repeat fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}


.comunicado {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.493);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    border-top: 10px solid var(--azul);
    border-bottom: 10px solid var(--azul);
    margin-top: 5rem;
    /* border-top: 5px solid var(--azul-);  */
    transition: 0.2s ease-in-out;
    position: relative;
}



.comunicado:hover {
    /* Adicione um fundo opaco */
    background-color: #00000022;
    box-shadow: 1px 8px 30px 0px #000;
}

/* Ícone de lápis */
.edit-icon {
    position: absolute;
    bottom: 1%;
    left: 97.1%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    display: none;
    /* Escondido por padrão */
    z-index: 1;
    /* Para estar acima da imagem */
}

.comunicado:hover .edit-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}

.comunicado .bi-pencil-square {
    color: var(--cinza);
    font-size: 23px;
}

/* Ícone de lixeira */
.delete-icon {
    border-radius: 100%;
    padding: 10px 10px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: var(--cinza);
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.comunicado:hover .delete-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}


.horizontal .comunicado-image {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;
    width: 20rem;
}

.horizontal .comunicado-image img {
    height: auto;
    width: 20rem;
    padding-left: 10px;
    display: block;
    transition: .5s ease-in-out;
}

.horizontal .comunicado-image img:hover {
    transform: scale(1.01);
}

.horizontal .comunicado-content {
    flex: 2;
    padding: 20px;
    color: #000;
}

.comunicado-header h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.date {
    color: #aaa;
    font-size: 14px;
}

.comunicado-text {
    color: #333;
}

.duvidas h1 {
    margin-bottom: 3rem;
}


.comuni h1 {
    font-family: var(--quatro);
    font-size: 60px;
    margin-top: 3rem;
    position: relative;
    text-align: center;
}

.comuni h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 30%;
    height: 4px;
    border-bottom: 4px solid var(--azul);
    background-color: var(--roxo);
    transform: translateX(-50%);
    transition: width 0.3s;
}

.comuni h1:hover::after {
    width: 80%;
}

.comunicado-img {
    position: fixed;
    left: -300px;
    bottom: -50px;
}

.comunicado-element {
    width: 50rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.comunicado-element:hover {
    transform: scale(1.05);
}

.altura-curso {
    max-height: 3rem;
}

/* SELECT */

.select-btn {
    display: flex;
    height: 50px;
    width: 100% !important;
    background-color: var(--branco);
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--cinza);
}

.list-itens {
    position: relative;
    width: 100% !important;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 20rem;
    overflow-y: scroll;
}

.list-itens .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-itens .item:hover {
    background-color: #70c1e660;
}

.select-btn.open~.list-itens {
    display: block;
}

.select-btn.open .bi-chevron-down {
    transform: rotate(-180deg);
    transition: 0.3s;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid var(--cinza);
    transition: all 0.3s ease-in-out;
}

.checkbox .bi-check-lg {
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
}

.item.checked .bi-check-lg {
    transform: scale(1);
}

input[type="checkbox"] {
    border-radius: 50% !important;
    background-color: red !important;

}


/* Estilização personalizada para o checkbox do modal */
.modal-checkbox {
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--cinza);
    /* Cor da borda preta */
    border-radius: 4px;
    /* Bordas arredondadas */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-checkbox .bi-check-lg {
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

/* Estilização para o checkbox quando estiver marcado */
.modal-checkbox.checked {
    border-color: var(--azul);
    /* Cor da borda quando marcado */
    background-color: var(--azul);
    /* Cor de fundo quando marcado */
    color: #fff;
    /* Cor do ícone de check */
}

.modal-checkbox.checked .bi-check-lg {
    transform: scale(1);
}

/* responsividade */
@media screen and (max-width: 480px) {

    .comunicado {
        border-radius: 5px;
        flex-direction: column;
        margin-left: 3rem;
        box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.493);
        border-right: 1px solid var(--azul);
        border-left: 1px solid var(--azul);
        max-width: 300px;
        width: 100%;
        margin-top: 5rem;
        transition: 0.2s ease-in-out;
        /* border-top: 5px solid var(--azul-); */
    }

    .comunicado:hover {
        transform: scale(1.01);
    }

    .horizontal .comunicado-image img {
        padding-left: 0px;
    }

    .comunicado-element {
        width: 30rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    .horizontal .comunicado-image,
    .horizontal .comunicado-content {
        flex: 1;
    }

    .comuni h1 {
        font-size: 40px;
        margin-left: 2rem;
    }

    .horizontal .comunicado-image {
        padding: .5rem 0;
    }

    .comunicado-header h2 {
        font-size: 18px;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .horizontal .comunicado-image {
        padding: 0;
    }





}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .horizontal .comunicado-image img {
        width: 15rem;
    }

    .comuni h1 {
        font-size: 40px;
        margin-left: 2rem;
    }

    .horizontal .comunicado-image {
        padding: .5rem 0;
    }

    .comunicado-header h2 {
        font-size: 18px;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado {
        width: 80%;
    }

    .comunicado-img {
        position: relative;
        left: auto !important;
        bottom: auto !important;
    }

    .comunicado-element {
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

}

@media screen and (min-width: 769px) and (max-width: 1199px) {

    .horizontal .comunicado-image img {
        width: 15rem;
    }

    .comuni h1 {
        font-size: 40px;
        margin-left: 2rem;
    }

    .horizontal .comunicado-image {
        padding: .5rem 0;
    }

    .comunicado-header h2 {
        font-size: 18px;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado {
        width: 90%;
        margin-left: 5rem;
    }

    .comunicado-img {
        position: relative;
        left: auto !important;
        bottom: auto !important;
    }

    .comunicado-element {
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

}