main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    height: 100vh;
    /* background: url('../img/doisfatores.png') center center no-repeat fixed; */
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: var(--pop);
}

/* background */

body {
    background: linear-gradient(90deg, rgba(165, 165, 165, 0.03) 0%, rgba(165, 165, 165, 0.03) 8%, rgba(235, 235, 235, 0.03) 8%, rgba(235, 235, 235, 0.03) 9%, rgba(7, 7, 7, 0.03) 9%, rgba(7, 7, 7, 0.03) 14%, rgba(212, 212, 212, 0.03) 14%, rgba(212, 212, 212, 0.03) 17%, rgba(219, 219, 219, 0.03) 17%, rgba(219, 219, 219, 0.03) 95%, rgba(86, 86, 86, 0.03) 95%, rgba(86, 86, 86, 0.03) 100%), linear-gradient(67.5deg, rgba(80, 80, 80, 0.03) 0%, rgba(80, 80, 80, 0.03) 11%, rgba(138, 138, 138, 0.03) 11%, rgba(138, 138, 138, 0.03) 17%, rgba(122, 122, 122, 0.03) 17%, rgba(122, 122, 122, 0.03) 24%, rgba(166, 166, 166, 0.03) 24%, rgba(166, 166, 166, 0.03) 27%, rgba(245, 245, 245, 0.03) 27%, rgba(245, 245, 245, 0.03) 89%, rgba(88, 88, 88, 0.03) 89%, rgba(88, 88, 88, 0.03) 100%), linear-gradient(67.5deg, rgba(244, 244, 244, 0.03) 0%, rgba(244, 244, 244, 0.03) 4%, rgba(16, 16, 16, 0.03) 4%, rgba(16, 16, 16, 0.03) 10%, rgba(157, 157, 157, 0.03) 10%, rgba(157, 157, 157, 0.03) 20%, rgba(212, 212, 212, 0.03) 20%, rgba(212, 212, 212, 0.03) 83%, rgba(5, 5, 5, 0.03) 83%, rgba(5, 5, 5, 0.03) 84%, rgba(237, 237, 237, 0.03) 84%, rgba(237, 237, 237, 0.03) 100%), linear-gradient(90deg, #FFF, #FFF);
    background-attachment: fixed;
    /* Defina o background como fixo */
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/* fim do background */



/*botao filtra*/

.select-btn {
    margin: 20px 0 0 0;
    display: flex;
    height: 50px;
    width: 25%;
    background-color: var(--branco);
    justify-content: space-between;
    align-items: center;
    /* padding-left: 16px; */
    /* padding: revert; */
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.espaco {
    margin: 0 20px !important;
}

.adm-filtro {
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.adm-filtro .select-btn,
.adm-filtro .list-itens {
    width: 220px !important;
}

.adm-filtro .list-itens {
    background-color: #fbfbff;
    position: absolute;
    width: 220px;
    z-index: 999;
    height: 300px;
    font-family: var(--pop);
}


.filtro-title {
    text-align: start;
    padding-left: 3rem;
    font-size: 20px;
}

.filtro-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


/* borda comunicado */

/* .comunicado {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.493);
    max-width: 800px;
    width: 100%;
    border-top: 10px solid var(--azul);
    border-bottom: 10px solid var(--azul);
    margin-top: 5rem;
    /* border-top: 5px solid var(--azul-);  */
/* transition: 0.2s ease-in-out;
    position: relative;
}  */

/* Classe para aplicar o gradiente nas bordas */
.borda-gradient {
    /* background-image: linear-gradient(to right, var(--roxo) 0%, var(--azul) 51%, var(--roxo) 100%); */
    /* content: ""; */
    position: absolute;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* height: 10px; */
    z-index: 999;

    border-radius: 10px;

}

.comunicado {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -1px 2px 20px 0px rgba(0, 0, 0, 0.493);
    max-width: 800px;
    width: 100%;
    margin-top: 5rem;
    position: relative;
    transition: 0.2s ease-in-out;
    z-index: 2;

}

/* Aplicar a classe 'borda-gradient' para as bordas */
.comunicado::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 10px;
    background-image: linear-gradient(to right, var(--roxo) 0%, var(--azul) 51%, var(--roxo) 100%);
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-size: 200% auto !important;
    transition: 0.5s;
}

.comunicado:hover:before,
.comunicado:hover:after {
    background-position: right center !important;
}

.comunicado::after {
    content: "";
    transition: 0.5s;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-image: linear-gradient(to right, var(--roxo) 0%, var(--azul) 51%, var(--roxo) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: 200% auto !important;

}

/* fim da borda comunicado */



.comunicado.select-btn,
.comunicado.list-itens {
    width: 220px !important;
}

.comunicado.list-itens {
    background-color: #fbfbff;
    position: absolute;
    width: 220px;
    z-index: 2;
    height: 300px;
}



/*fimbotao filtra*/

.comunicado:hover {
    /* Adicione um fundo opaco */
    /* box-shadow: 0px 0px 30px 0px #000; */
    transform: scale(1.01);
}

/* Ícone de lápis */
.edit-icon {
    position: absolute;
    bottom: 1%;
    left: 97.1%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 5px;
    display: none;
    /* Escondido por padrão */
    z-index: 1;
    /* Para estar acima da imagem */
}

.comunicado:hover .edit-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}

.comunicado .bi-pencil-square {
    color: var(--cinza);
    font-size: 23px;
}

/* Ícone de lixeira */
.delete-icon {
    border-radius: 100%;
    padding: 10px 10px;
    position: absolute;
    bottom: 20px;
    right: 40px;
    color: var(--cinza);
    font-size: 23px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.comunicado:hover .delete-icon {
    display: block;
    /* Mostrar quando o cartão estiver em foco */
}


.horizontal .comunicado-image {
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    width: 20rem;
}

.horizontal .comunicado-image img {
    height: auto;
    width: 20rem;
    padding-left: 10px;
    display: block;
    transition: .5s ease-in-out;
}

.horizontal .comunicado-image img:hover {
    transform: scale(1.01);
}

.horizontal .comunicado-content {
    flex: 2;
    padding: 20px;
    color: #000;
}

.comunicado-header h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

.date {
    color: #aaa;
    font-size: 14px;
}

.comunicado-text {
    color: #333;
}

.duvidas h1 {
    margin-bottom: 3rem;
}


.comuni h1 {
    font-family: var(--quatro);
    font-size: 60px;
    margin-top: 3rem;
    position: relative;
    text-align: center;
}

.comuni h1::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 20%;
    height: 4px;
    background-image: linear-gradient(to right, var(--azul) 0%, var(--roxo) 51%, var(--azul) 100%);
    background-size: 200% auto;
    transform: translateX(-50%);
    transition: width 0.3s;
}

.comuni h1:hover::after {
    width: 40%;
    background-position: right center !important;    
}

.comunicado-img {
    position: fixed;
    left: -300px;
    bottom: -50px;
}

.comunicado-element {
    width: 50rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.comunicado-element:hover {
    transform: scale(1.05);
}

.altura-curso {
    max-height: 3rem;
}

/* SELECT */

.select-btn {
    display: flex;
    height: 50px;
    width: 100% !important;
    background-color: var(--branco);
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--cinza);
}

.list-itens {
    position: relative;
    width: 100% !important;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    max-height: 20rem;
    overflow-y: scroll;
}

.list-itens .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-itens .item:hover {
    background-color: #70c1e660;
}

.select-btn.open~.list-itens {
    display: block;
}

.select-btn.open .bi-chevron-down {
    transform: rotate(-180deg);
    transition: 0.3s;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid var(--cinza);
    transition: all 0.3s ease-in-out;
}

.checkbox .bi-check-lg {
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
}

.item.checked .bi-check-lg {
    transform: scale(1);
}

input[type="checkbox"] {
    border-radius: 50% !important;
    background-color: red !important;

}


/* Estilização personalizada para o checkbox do modal */
.modal-checkbox {
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--cinza);
    /* Cor da borda preta */
    border-radius: 4px;
    /* Bordas arredondadas */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-checkbox .bi-check-lg {
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

/* Estilização para o checkbox quando estiver marcado */
.modal-checkbox.checked {
    border-color: var(--azul);
    /* Cor da borda quando marcado */
    background-color: var(--azul);
    /* Cor de fundo quando marcado */
    color: #fff;
    /* Cor do ícone de check */
}

.modal-checkbox.checked .bi-check-lg {
    transform: scale(1);
}

/* pop up */

body .alert {
    background: #FFE1E3;
    border-left: 8px solid #FF4356;
    position: relative;
    visibility: none;
    animation-delay: .5s;
    animation: shake 1s ease forwards;
}

.alert .bi-exclamation-circle,
.alert .bi-check-lg,
.alert .bi-search {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #FF455A;
    font-size: 30px !important;
}

body .alert .msg {
    font-size: 20px;
    padding: 0 40px;
    color: #DC7777;
}

body .alert .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF99A4;
    padding: 9px 16px;
    cursor: pointer;
}

body .alert .close-btn:hover {
    background-color: #FC4B55;
}


body .alert .bi-x-lg {
    color: #FF455A;
    font-size: 22px;
    line-height: 40px;
}

.hide {
    display: none;
}


/*@keyframes error {
    0% {
      transform: translateX(-5%);
    }
  
  
    40%{
      transform: translateX(5%);
    }
  
    80% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0%);
    }
  
  }
  */

@keyframes shake {
    0% {
        transform: translate(1px, 1px);
    }

    10% {
        transform: translate(-1px, -2px);
    }

    20% {
        transform: translate(-3px, 0px);
    }

    30% {
        transform: translate(3px, 2px);
    }

    40% {
        transform: translate(1px, -1px);
    }

    50% {
        transform: translate(-1px, 2px);
    }

    60% {
        transform: translate(-3px, 1px);
    }

    70% {
        transform: translate(3px, 1px);
    }

    80% {
        transform: translate(-1px, -1px);
    }

    90% {
        transform: translate(1px, 2px);
    }

    100% {
        transform: translate(1px, -2px);
    }
}

/* fim do pop up */



/* responsividade */
@media screen and (max-width: 480px) {

    .comunicado {
        border-radius: 5px;
        flex-direction: column;
        margin-left: 3rem;
        box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.493);
        border-right: 1px solid var(--azul);
        border-left: 1px solid var(--azul);
        max-width: 300px;
        width: 100%;
        margin-top: 5rem;
        transition: 0.2s ease-in-out;
        /* border-top: 5px solid var(--azul-); */
    }

    .comunicado:hover {
        transform: scale(1.01);
    }

    .horizontal .comunicado-image img {
        padding-left: 0px;
    }

    .comunicado-element {
        width: 30rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    .horizontal .comunicado-image,
    .horizontal .comunicado-content {
        flex: 1;
    }

    .comuni h1 {
        font-size: 40px;
        margin-left: 2rem;
    }

    .horizontal .comunicado-image {
        padding: .5rem 0;
    }

    .comunicado-header h2 {
        font-size: 18px;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .horizontal .comunicado-image {
        padding: 0;
    }





}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .horizontal .comunicado-image img {
        width: 15rem;
    }

    .comuni h1 {
        font-size: 40px;
        margin-left: 2rem;
    }

    .horizontal .comunicado-image {
        padding: .5rem 0;
    }

    .comunicado-header h2 {
        font-size: 18px;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado {
        width: 80%;
    }

    .comunicado-img {
        position: relative;
        left: auto !important;
        bottom: auto !important;
    }

    .comunicado-element {
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

}

@media screen and (min-width: 769px) and (max-width: 1199px) {

    .horizontal .comunicado-image img {
        width: 15rem;
    }

    .comuni h1 {
        font-size: 40px;
        margin-left: 2rem;
    }

    .horizontal .comunicado-image {
        padding: .5rem 0;
    }

    .comunicado-header h2 {
        font-size: 18px;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado-text {
        font-size: 15px !important;
    }

    .comunicado {
        width: 90%;
        margin-left: 5rem;
    }

    .comunicado-img {
        position: relative;
        left: auto !important;
        bottom: auto !important;
    }

    .comunicado-element {
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

}