main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  height: 100vh;
  /* background: url('../img/doisfatores.png') center center no-repeat fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 60%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  background-image: url('../img/doisfatores.png');
}


.gestao {
  display: flex;
  background-color: var(--branco);
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  margin-top: 5rem;
  /* border-top: 5px solid var(--azul-);  */
}



/* SEARCH BAR */

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.inner-form {
  width: 50%;
  margin-bottom: 17px;

}

.inner-form .input-field {
  height: 70px;
  width: 100%;
  position: relative;
}

.inner-form .input-field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 1px solid #6d26f861;
  background: #fff;
  display: block;
  width: 100%;
  padding: 10px 32px 10px 70px;
  font-size: 18px;
  color: #666;
  border-radius: 34px;
}

.inner-form .input-field input.placeholder {
  color: #ccc;
  font-size: 18px;
}

.inner-form .input-field input:-moz-placeholder {
  color: #ccc;
  font-size: 18px;
}

.inner-form .input-field input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 18px;
}

.inner-form .input-field input:hover,
.inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.inner-form .input-field .btn-search {
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.inner-form .input-field .btn-search svg {
  fill: #ccc;
  width: 30px;
  height: 30px;
  transition: all .2s ease-out, color .2s ease-out;
}

.inner-form .input-field .btn-search:hover,
.inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.inner-form .input-field .btn-search:hover svg,
.inner-form .input-field .btn-search:focus svg {
  fill: #666;
}

.suggestion-wrap {
  padding: 0 15px;
}

.suggestion-wrap span {
  cursor: pointer;
  font-size: 14px;
  font-family: var(--pop);
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 15px;
  line-height: 32px;
  color: #fff;
  border-radius: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.2s;
}

.suggestion-wrap span:hover {
  transform: translateY(-5px);
}

#clearSearch:hover>.input-field input {
  border: 1px solid #ff0000;
}

/* FIM DA SEARCH BAR */
.comuni h1 {
  font-family: var(--quatro);
  font-size: 60px;
  margin-top: 3rem;
  position: relative;
  text-align: center;
}

.comuni h1::after {
  content: '';
  position: absolute;
  bottom: 0.07rem;
  left: 45%;
  width: 30%;
  height: 4px;
  background-image: linear-gradient(to right, var(--roxo) 0%, var(--azul) 51%, var(--roxo) 100%);
  background-size: 200% auto;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.comuni h1:hover::after {
  width: 80%;
  background-position: right center !important;
}

.gestao-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: stretch;
  justify-content: space-evenly;
}

.gestao-container .gestao-users {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1rem;
  /* Add margin around each item */
  text-align: center;
  /* Center align text */
  padding: 1rem;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s ease-in-out;
  font-family: var(--pop);
  border-bottom: 1px solid var(--roxo);
  /* border-right: 1px solid var(--roxo); */
  /* box-shadow: 1px 1px 1px var(--roxo); */

}

.gestao-container .gestao-users button {
  border: none;
  background: none;
}



.gestao-container .gestao-users img {
  width: 160px;
  height: 160px;
  margin-bottom: 1rem;
  /* Add margin below each image */
  margin-left: auto;
  /* Move image to the right */
  margin-right: auto;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid var(--roxo);
  box-shadow: 1px 1px 6px var(--roxo);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.gestao-container .gestao-users:hover {
  transform: scale(1.05);
  background-color: rgba(160, 61, 213, 0.1);
  /* box-shadow: 1px 8px 30px 0px #000; */

}




/* EDIT CARD GESTAO */



/* Ícone de lápis */
.edit-icon {
  position: absolute;
  bottom: 5px;
  right: -4%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 5px;
  display: none;
  /* Escondido por padrão */
  z-index: 1;
  /* Para estar acima da imagem */
}

.gestao-container .gestao-users:hover .edit-icon {
  display: block;
  /* Mostrar quando o cartão estiver em foco */
}

.gestao-container .gestao-users .bi-pencil-square {
  color: var(--cinza);
  font-size: 23px;
}

/* Ícone de lixeira */
.delete-icon {
  border-radius: 100%;
  padding: 10px 10px;
  position: absolute;
  top: 5px;
  right: 1%;
  color: var(--cinza);
  font-size: 23px;
  cursor: pointer;
  display: none;
  z-index: 1;
  transition: .2s;
}

.delete-icon:hover {
  background: red;
  border-radius: 5px;
  padding: 5px 12px;
  color: var(--branco);
}


.gestao-container .gestao-users:hover .delete-icon {
  display: block;
  /* Mostrar quando o cartão estiver em foco */
}

@media screen and (max-width: 480px) {
  .gestao {
    width: 100%;
  }

  .comuni h1 {
    font-size: 3em;
    margin-left: 2rem;
  }

}

/* FIM EDIT CARD GESTAO */