.home {
    height: 100vh;
    width: 100%;
    background-image: url('../img/fundo-.png');
    background-size: cover;
    background-position: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    font-family: var(--pop);

}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 160px;
    cursor: pointer;
}

nav {
    flex: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    font-family: var(--pop);
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    /* text-transform: uppercase; */
    position: relative;
}

nav a::after {
    content: "";
    background-color: var(--roxo);
    width: 0%;
    height: 0.178rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after {
    width: 70%;
}


.content h1 {
    font-size: 80px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #000;
    line-height: .7;
    transition: .5s ease-in-out;

}

.content span {
    font-size: 40px;

}

.success {
    color: var(--roxo);
    transition: .5s ease-in-out;
}

h1:hover .success {
    color: #000;
    font-weight: bold;
}

h1:hover {
    color: var(--roxo);
    font-weight: bold;
}


.content p {
    font-size: 20px;
    width: 20rem;
    position: relative;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.inicial-element {
    height: 75%;
    position: absolute;
    bottom: 40px;
    right: 130px;
    animation: flutuar 3s infinite;
    transition: 1s;
}

.inicial-element:hover {
    scale: .95;
    cursor: pointer;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.content .btnn:hover {
    scale: 1.04;
    background-color: #fbfbff;
    color: var(--roxo);
    box-shadow: 3px 8px 22px #2525257b;
    border: 1px solid var(--roxo);

}

.content .btnn {
    display: inline-block;
    background-color: var(--roxo);
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #fbfbff;
    box-shadow: 3px 8px 22px var(--roxo);
    transition: .5s;
}



@media screen and (max-width: 480px) {
    section {
        padding: 0;
    }

    nav ul li a {
        color: var(--roxo);
        text-shadow: 0px 0px 0px #000;
    }

    .content .titulo {
        margin-bottom: 2rem;

    }


    .navbar nav ul {
        padding-left: 15px;
    }

    .home {
        background-image: url('../img/fundo-.png');
        background-position: left;
        overflow: hidden;
        height: 100vh;
    }

    .logo {
        width: 0px;
    }

    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        margin: 5px;
    }

    .content p {
        font-size: 15px;
    }

    .inicial-element {
        position: relative;
        bottom: -20px;
        left: 0;
    }

    .home-img {
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content h1 {
        font-size: 50px;
        line-height: 1;
    }

    .content span {
        font-size: 30px;

    }

    .login-element {
        width: 15rem;
        transition: 1s;
        margin-left: 5rem;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .navbar nav ul {
        padding-left: 0px;
    }

    .inicial-element {
        height: 45%;
        bottom: 20px;
        right: 30px;
    }

    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        margin: 5px;
    }

    .logo {
        width: 75px;
    }

    ol,
    ul {
        margin-top: 0;
        margin-bottom: 0rem;

    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {

    nav ul li a {
        font-size: 15px;
    }

    .navbar nav ul {
        padding-left: 0px;
    }

    .inicial-element {
        height: 60%;
        bottom: 120px;
        right: 70px;
    }

    .content h1 {
        font-size: 50px;
        line-height: 1;
    }

    .content span {
        font-size: 30px;

    }




}

@media screen and (min-width: 1200px) {

    nav ul li a {
        font-size: 22px;
    }

    .inicial-element {
        height: 65%;
        bottom: 120px;
        right: 70px;
    }

}