nav {
    z-index: 1;
}

nav.menu-lateral {
    width: 84px;
    height: 100vh;
    background-color: var(--cinza);
    padding: 40px 0 40px;
    box-shadow: 5px 0 0 var(--roxo);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
}

nav.menu-lateral.expandir {
    width: 280px;
}

.btn-expandir {
    width: 100%;
    padding-left: 30px !important;
}

.btn-expandir>i {
    color: var(--branco);
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    width: 100%;
    transition: .2s;
    position: relative;
}


ul li.ativo {
    position: relative;
    width: 100%;
}


ul li.ativo::before {
    content: '';
    width: 100%;
    position: absolute;
    border-bottom: 5px solid var(--roxo);
    transition: 0.2s ease-in-out;
    bottom: 10px;
    left: 0;
}


ul li.item-menu::after {
    content: '';
    width: 0%;
    position: absolute;
    border-bottom: 5px solid var(--roxo);
    transition: 0.2s ease-in-out;
    bottom: 10px;
    left: 0;
}

ul li.item-menu:hover::after {
    width: 100%;

}

/* ul li.item-menu:hover{
    background-color: none;
    background-color: none;
    width: 100%;

} */

ul li.item-menu a {
    font-family: var(--pop);
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    padding: 20px .1rem !important;

    display: flex;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin: -5px;
}

/* responsividade */
@media screen and (max-width: 480px) {

    nav {
        position: fixed !important;
    }

    nav.menu-lateral {
        width: 45px;
    }

    nav.menu-lateral.expandir {
        width: 200px;
    }

    .btn-expandir {
        padding-left: 10px !important;

    }

    ul {
        padding-left: 10px !important;
    }

    ul li.item-menu a {
        font-size: 15px;
        line-height: 20px;
    }

    ul li.item-menu a .icon>i {
        font-size: 20px;
        margin: -5px;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    nav {
        position: fixed !important;
    }

    nav.menu-lateral {
        width: 45px;
    }

    nav.menu-lateral.expandir {
        width: 200px;
    }

    .btn-expandir {
        padding-left: 10px !important;

    }

    ul {
        padding-left: 10px !important;
    }

    ul li.item-menu a {
        font-size: 15px;
        line-height: 20px;
    }

    ul li.item-menu a .icon>i {
        font-size: 20px;
        margin: -5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {}


@media screen and (min-width: 1200px) {


    ul li.item-menu a {
        font-size: 18px;
        line-height: 20px;
    }

    ul li.item-menu a .icon>i {
        font-size: 23px;
        margin: -5px;
    }


  }